<p class="login-box-msg">Hello kukumama</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    <span class="fa fa-user form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
    <span class="fa fa-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <!-- /.col -->
    <div class="col-xs-10 col-xs-offset-1">
      <%= f.submit "Log in", class: 'btn btn-primary btn-block btn-flat' %>
    </div>
    <!-- /.col -->
  </div>
<% end %>
