<!-- modal browser -->
<div class="modal fade modal_ie" id="#modal_browser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center">Oops! Looks like you're using an unsupported browser </h3>
        <p class="text-center">To use Application, we recomended using the latest version of Safari, Firefox, or Chrome. </p>
      </div>
      <div class="modal-footer">
        <div class="col-md-8 col-md-offset-2">
          <%= image_tag "Chrome.png", class: 'img-rounded logo-modal' %>
          <%= image_tag "firefox.png", class: 'img-rounded logo-modal' %>
          <%= image_tag "Safari.png", class: 'img-rounded logo-modal' %>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>